<title>Image Classifier</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<div class="container">    
  <div class="row">
    <br/><br/>
    <div class="col-sm-4">
      <div class="alert alert-danger">
        <strong>Error!</strong> {{ message}}
      </div>
        <a href="http://localhost:8000/createLabels"><button type="reset" class="btn btn-warning btn-lg">Try another label</button></a>
        <a href="http://localhost:8000/home"><button type="reset" class="btn btn-warning btn-lg">Go to Home ?</button></a>
    </div>
  </div>
</div><br>
