<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">    
        <div class="row">
          <br/><br/>
          <div class="alert alert-info">
            <b><center> {{ results[1]}} </center> </b>
          </div>
          <br/><br/>
          <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-body"><img src=" {{ url_for('static', filename= results[0] ) }}" class="img-responsive" style="width:100%" alt="Image"></div>
            </div>
            <p> Is the label of the image is wrong ?</p>
            <form class="form-inline" method = "POST", action="http://localhost:8000/updateLabel">
                <input type="hidden" name="image" value = "{{ results[0] }}"/>
                <input type="text" name="new_label" placeholder="New label name" required />
                <button type="submit" name="current_label" value = "{{ results[1] }}" class="btn btn-primary"> Update </button> 
            </form>
          </div>
        </div>
      </div><br>
      
</body>